### Python Basics Outline

The following are going to be covered in this class:
* variables, datatypes and operators
* conditionals
* basic data structures (lists, dictionaries, tuples)
* Loops (for loops and while loops)
* functions
* Comprehensions and Lambda Functions

### Variables and Datatypes

In [7]:
# declare different variables with distinct datatypes
name = 'Kola'
age = 45
height = 49.60
married = True

# print each of the variables
print(f'{name} is of the type {type(name)}')
print(f'{age} is of the type {type(age)}')
print(f'{height} is of the type {type(height)}')
print(f'{married} is of the type {type(married)}')

Kola is of the type <class 'str'>
45 is of the type <class 'int'>
49.6 is of the type <class 'float'>
True is of the type <class 'bool'>

In [6]:
name = 'tola'
print(f'{name} said God is good')

tola said God is good

In [15]:
# write a program that computes age by accepting year of birth

year_birth = int(input('Enter your year of birth: ')) #type cast year_birth
current_year = 2024 # create current year variable
age = current_year - year_birth # compute age
print(f'You are {age} years old')

You are 122 years old

### Arithmetic Operators

| Operator       | sign    |
|----------------|---------|
| addition       | +       |
| subtraction    | -       |
| division       | /       |
| floor division | //      |
| modulus        | %       |
| multiplication | *       |
| power          | **      |
| root           | **(1/n) |

In [30]:
8 ** (1/3)

2.0

In [26]:
27 % 10

7

In [33]:
# write a program that converts naira to dollar

naira = float(input('Enter the naira value: '))
rate = 1400
dollar = naira/rate
print(f'{naira} naira is {round(dollar, 2)} dollars')

65000.0 naira is 46.43 dollars

### Conditionals

1. If 
2. elif
3. else

In [17]:
# write a program that checks if a person is an adult teenager or child

name = input('Enter your name: ')
year_birth = int(input('Enter your year of birth: '))
age_class = None
age = 2024 - year_birth
if age < 13:
    age_class = 'child'
elif age < 20:
    age_class = 'teenager'
else:
    age_class = 'adult'

print(f'Hi {name}, you are a/an {age_class} of {age} years')

Hi joy, you are a/an child of -211 years

In [24]:
# fizz buzz challenge
number = int(input('Enter the number: '))

if number % 5 == 0 and number % 3 == 0:
    print('FizzBUzz')
elif number % 5 == 0:
    print('Buzz')
elif number % 3 == 0:
    print('Fizz')

FizzBUzz

### Basic Data Structures

##  Lists

In [28]:
#  created a list of students
students = ['ayo', 'shola','bayo']
print(type(students))

<class 'dict'>

In [30]:
things = [1,3.5, True, students, name,['nokia','gpt']]
print(things)

[1, 3.5, True, {'ayo': 12, 'shola': 25, 'bayo': 22}, 'joy', ['nokia', 'gpt']]

In [50]:
# list referncing

fruits = ['orange','appple','cashew','grape','mango']
fruits[0]
fruits[-4]

# list slicing
print(fruits[3:])
fruits[:3]
fruits[1:3]
print(fruits[1:-1])

['grape', 'mango']
['appple', 'cashew', 'grape']